

/* -----------   HEADER   --------------*/


#title{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

h2, h4{
  font-weight: normal;
}


/* -----------   SEARCH BAR   --------------*/


#search-bar{
  background-color: lavender;
  padding: 15px 0 15px 15px; 
}

.icon-addon {
  position: relative;
  color: grey;
  display: block;
}

.glyphicon-search, .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  padding: 10px 0;
}

.form-input {
  width: 23%;
  outline: none;
  border: 0;
  border-radius: 5px;
  height: 35px;
  padding: 5px 10px 5px 35px;
}

.icon-addon .glyphicon {
  top: -1px
}


/* -----------   TABLE   --------------*/


#table-wrapper{
  position: relative;
}

#container{
  width: 100%;
}

table{
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: calc(100% - 30px);
  border-radius: 10px;
  margin: 15px;
  background-color: whitesmoke;
}

table th:first-child{
  border-radius: 10px 0 0 0;
}

table th:last-child{
  border-radius: 0 10px 0 0;
}

th, td{
  padding: 20px 15px 20px 15px;
  text-align: center;
  font-size: 1.4rem;
  vertical-align: top;
}

td{
  background-color: whitesmoke;
  height: 40px;

/*this can be used to create a thin line which helps separate each row */
  /*border-top: 1px solid lavender;*/
}

th{
  background-color: darkturquoise;
  color: white;
  font-weight: normal;
}


/* -----------   FOOTER   --------------*/


#footer-content{
  overflow: hidden
}

.footer{
  padding: 0;
  background-color: lavender;
}

#footer-row{
  height: 25px;
  padding: 0
}

#footer-row td:first-child{
  border-radius: 0 0 0 10px;
}

#footer-row td:last-child{
  border-radius: 0 0 10px 0;
}

/* -----------   PAGE NAVIGATION   --------------*/


.nav-wrapper{
  height: 50px;
  float: right;
  margin-right: 5%;
  margin-bottom: 40px;
}

.nav-wrapper div{
  float: left;
}

button{
  border: 0;
  float: left;
  padding: 0 10px 0 10px ;
  background-color: white;
  height: 25px;
  margin: 10px;
  outline: none;   
}

.nav-buttons{
  float: left;
  margin: 10px;
}

.highlight{
  background-color: whitesmoke;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}



/* -----------   MEDIA QUERIES   --------------*/



/*playing around with media queries to display the table differently in phone*/


/*
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  table{
    background-color: white;
  }

  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  thead tr { 
    display:none;
  }
  
  tr { 
    border-radius: 10px;
    border-bottom: 4px solid white;
   }
  
  td { 
    border: none;
    position: relative;
    padding: 0;
    padding-left: 35%; 
    height: 100%;
    min-height: 40px;
  }

  tr.ng-repeat{
    margin-bottom: 15px;
  }
  
  tfoot{
    display: none;
  }

  table td:first-child{
    border-radius: 0 10px  0 0;
  }

  table td:last-child{
    border-radius: 0 0 10px 0;
  }

  td:before { 
    background-color: darkturquoise;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%; 
    padding: 10px 10px 0 0; 
    white-space: nowrap;
  }
  
  td.ng-binding::before, td::before{
    background-color: darkturquoise;
    color: white;
    height: 100%;
  }

  td.ng-binding{
    padding-top: 0;
    padding-bottom: 0;
  }

  td:nth-of-type(1):before{
    border-radius: 10px 0 0 0;
  }

  td:nth-of-type(7):before{
    border-radius: 0 0 0 10px;
  }



  
  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Population"; }
  td:nth-of-type(3):before { content: "Diameter"; }
  td:nth-of-type(4):before { content: "Rotation Period"; }
  td:nth-of-type(5):before { content: "Orbital Period"; }
  td:nth-of-type(6):before { content: "Terrain"; }
  td:nth-of-type(7):before { content: "Films"; }
}
*/


