
h2, h4{
  font-weight: normal;
}

table{
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

th, td{
  padding: 20px 15px 20px 15px;
  text-align: center;
  font-size: 1.4rem;
  vertical-align: top;
}



td{
  background-color: whitesmoke;
  border-top: 1px solid lavender;
  height: 40px;
}


th{
  background-color: darkturquoise;
  color: white;
  font-weight: normal;
}

#table-wrapper{
  position: relative;
}

#container{
  width: 100%;
}

table{
  width: calc(100% - 30px);
  border-radius: 10px;
  margin: 15px;
}


table th:first-child{
  border-radius: 10px 0 0 0;
}

table th:last-child{
  border-radius: 0 10px 0 0;
}

#footer-content{
  overflow: hidden
}

#title{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

#search-bar{
  background-color: lavender;
  padding: 15px 0 15px 15px; 
}

.icon-addon {
  position: relative;
  color: grey;
  display: block;
}

.glyphicon-search, .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  padding: 10px 0;
}

.form-input {
  width: 23%;
  outline: none;
  border: 0;
  border-radius: 5px;
  height: 35px;
  padding: 5px 10px 5px 35px;
}

.icon-addon .glyphicon {
  top: -1px
}

.footer{
  padding: 0;
  background-color: lavender;
}

#footer-row{
  height: 25px;
  padding: 0
}

#footer-row td:first-child{
  border-radius: 0 0 0 10px;
}

#footer-row td:last-child{
  border-radius: 0 0 10px 0;
}

.nav-wrapper{
  height: 50px;
  float: right;
  margin-right: 5%;
  margin-bottom: 40px;
}


button{
  border: 0;
  float: left;
  padding: 0 10px 0 10px ;
  background-color: white;
  height: 25px;
  margin: 10px;
  outline: none;   
  /*width: 25px;*/
}

.nav-wrapper div{
  float: left;
}

.nav-buttons{
  float: left;
  margin: 10px;

}
/*tr:nth-child(last) {
  border: 0;

}*/

.highlight{
  background-color: whitesmoke;
  padding: 0;
  width: 25px;
  height: 25px;
  /*margin: 0;*/
  border-radius: 100%;
}