<!--header-->
<div id=container>
  <div id="title">
    <h2>STAR WARS API</h2>
    <h4>Discover the planets of your favourite films</h4>
  </div>
  <!--search bar-->
  <div id="search-bar"> 
      <div class="icon-addon">
        <input class="form-input" type="text" placeholder="search" >
        <div class="glyphicon glyphicon-search"></div>
      </div>
  </div>
  <!--table content-->
  <div id="table-wrapper">
    <table id="table" >
      <thead>
        <tr id="header"> 
          <th ng-click="$ctrl.changeOrder('name')">NAME</th>
          <th ng-click="$ctrl.changeOrder('population')">POPULATION</th>
          <th ng-click="$ctrl.changeOrder('diameter')">DIAMETER</th>
          <th ng-click="$ctrl.changeOrder('rotation_period')">ROTATION PERIOD</th>
          <th ng-click="$ctrl.changeOrder('orbital_period')">ORBITAL PERIOD</th>
          <th>TERRAIN</th>
          <th>PLANETS</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="planet in $ctrl.planets | filter:$ctrl.query | orderBy:$ctrl.orderProp">

          <td>{{planet.name}}</td>
          <td>{{planet.population}}</td>
          <td>{{planet.diameter}}</td>
          <td>{{planet.rotation_period}}</td>
          <td>{{planet.orbital_period}}</td>
          <td>{{planet.terrain}}</td>
          <td>{{planet.films[0]}}</td>

          <!-- <td ng-repeat="f in planet.films">{{f}}</td> -->
        </tr>

      </tbody>
      <tfoot >
      <tr id="footer-row">
      <td class="footer"></td>
      <td class="footer"></td>
      <td class="footer"></td>
      <td class="footer"></td>
      <td class="footer"></td>
      <td class="footer"></td>
      <td class="footer"></td>
      </tr>
      </tfoot>
    </table>
  </div>

<!-- <ul class="planets">
<li ng-repeat="planet in $ctrl.planets | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
<a href="#!/planets/{{planet.id}}" class="thumb">
<img ng-src="{{planet.imageUrl}}" alt="{{planet.name}}" />
</a>
<a href="#!/planets/{{planet.planets[0].split('planets/').pop();}}">{{planet.planets[0]}}</a>
<p>{{planet.climate}}</p>
</li>
</ul> -->

</div>
